In [1]:
import os
import pandas as pd
import sqlite3


df1 = pd.read_csv('modern_RAPTOR_by_player.csv')
#print(df1.head())
df_raptor = df1.drop(['raptor_box_offense', 'raptor_box_defense', 'raptor_box_total', 'raptor_onoff_offense', 'raptor_onoff_defense',
         'raptor_onoff_total', 'war_playoffs', 'war_total', 'predator_offense', 'predator_defense','pace_impact'], axis=1)
df_raptor = df_raptor.rename(index=str, columns={'player_name':'Player Name', 'mp':'Minutes Played'})
df_raptor = df_raptor[df_raptor['Minutes Played'].astype(int) >= 500]
print(df_raptor.head())

        Player Name  player_id  season  poss  Minutes Played  raptor_offense  \
0      Alex Abrines  abrinal01    2017  2387            1135        0.543421
1      Alex Abrines  abrinal01    2018  2546            1244       -0.020826
2      Alex Abrines  abrinal01    2019  1279             588       -4.040157
3  Precious Achiuwa  achiupr01    2021  1581             749       -4.347596
4        Quincy Acy    acyqu01    2014  1716             847       -1.565257

   raptor_defense  raptor_total  war_reg_season  predator_total
0       -1.144832     -0.601411        1.447708       -0.961575
1       -1.502642     -1.523468        0.465912       -1.287247
2        1.885618     -2.154538        0.178167       -3.034396
3        0.954821     -3.392775       -0.246776       -3.342885
4       -0.216477     -1.781734        0.415918       -1.688171

In [2]:
df_raptor200 = df_raptor[df_raptor['raptor_total'].astype(int) >= 5]
%store df_raptor200
df_raptor200['Player Name'].value_counts()

Stored 'df_raptor200' (DataFrame)

LeBron James             8
Kawhi Leonard            7
James Harden             7
Stephen Curry            7
Nikola Jokic             6
Kevin Durant             6
Kyle Lowry               5
Jimmy Butler             5
Chris Paul               5
Giannis Antetokounmpo    5
Anthony Davis            5
Paul George              5
Damian Lillard           4
Rudy Gobert              4
Draymond Green           3
Russell Westbrook        3
Mike Conley              3
Kemba Walker             3
Manu Ginobili            2
Luka Doncic              2
Danny Green              2
DeMarcus Cousins         2
Joel Embiid              2
Victor Oladipo           1
Ricky Rubio              1
Jusuf Nurkic             1
Joakim Noah              1
Patty Mills              1
Jayson Tatum             1
Karl-Anthony Towns       1
Steven Adams             1
Kevin Love               1
Kyrie Irving             1
Jrue Holiday             1
George Hill              1
Goran Dragic             1
Nicolas Claxton          1
Alex Caruso              1
Clint Capela             1
Eric Bledsoe             1
Bradley Beal             1
Blake Griffin            1
Name: Player Name, dtype: int64

In [3]:
missing = pd.concat([df_raptor.isnull().sum(), 100 * df_raptor.isnull().mean()], axis=1)
missing.columns=['count','%']
missing.sort_values(by=['count','%'])

                count    %
Player Name         0  0.0
player_id           0  0.0
season              0  0.0
poss                0  0.0
Minutes Played      0  0.0
raptor_offense      0  0.0
raptor_defense      0  0.0
raptor_total        0  0.0
war_reg_season      0  0.0
predator_total      0  0.0

In [4]:
%store df_raptor
df_raptor.sort_values(by=['raptor_total']).tail(10)

Stored 'df_raptor' (DataFrame)

,Player Name,player_id,season,poss,Minutes Played,raptor_offense,raptor_defense,raptor_total,war_reg_season,predator_total
1337,Paul George,georgpa01,2019,6608,3045,5.333639,4.206323,9.539962,17.381799,9.960350
2254,Kawhi Leonard,leonaka01,2020,4919,2359,6.385148,3.253238,9.638386,11.730348,9.541723
2250,Kawhi Leonard,leonaka01,2016,5365,2719,5.128250,4.724720,9.852970,15.529218,10.082813
1527,James Harden,hardeja01,2018,6466,3172,8.750965,1.316804,10.067769,17.048015,11.049504
1529,James Harden,hardeja01,2020,6253,2931,8.488456,1.978387,10.466843,16.705593,10.771486
2992,Chris Paul,paulch01,2015,6633,3302,8.557501,2.111893,10.669395,19.418015,10.910621
1528,James Harden,hardeja01,2019,6728,3291,9.566047,1.149234,10.715281,20.057946,12.569309
901,Stephen Curry,curryst01,2015,7192,3439,8.600890,2.437371,11.038262,19.914785,11.444762
2991,Chris Paul,paulch01,2014,5387,2643,7.723907,3.668439,11.392346,15.302202,11.417060
902,Stephen Curry,curryst01,2016,7053,3314,10.379411,2.108447,12.487858,23.659318,13.347925

In [5]:
#BASKETBALL OVERVIEW

df2 = sqlite3.connect("basketball.sqlite")
cur = df2.cursor()

#for row in cur.execute('SELECT * FROM Player;'):
#    print(row)
    
sql_query = """SELECT name FROM sqlite_master  
    WHERE type='table';"""
cursor = df2.cursor()
cursor.execute(sql_query)
print(cursor.fetchall())

[('Player',), ('Team',), ('Team_Attributes',), ('Team_History',), ('Player_Attributes',), ('Game_Officials',), ('Game_Inactive_Players',), ('Team_Salary',), ('Player_Salary',), ('Draft',), ('Draft_Combine',), ('Player_Photos',), ('Player_Bios',), ('Game',), ('News',), ('News_Missing',)]

In [6]:
df_salary = pd.read_sql_query("SELECT * FROM Player_Salary", df2)
%store df_salary
df_salary.tail(10)

Stored 'df_salary' (DataFrame)

,slugSeason,nameTeam,namePlayer,statusPlayer,isFinalSeason,isWaived,isOnRoster,isNonGuaranteed,isTeamOption,isPlayerOption,typeContractDetail,value
1282,2020-21,Washington Wizards,Robin Lopez,current roster,1,0,1,0,0,0,Guaranteed,7300000.0
1283,2020-21,Washington Wizards,Rui Hachimura,current roster,0,0,1,0,0,0,Guaranteed,4692840.0
1284,2021-22,Washington Wizards,Rui Hachimura,current roster,0,0,1,0,0,0,Guaranteed,4916160.0
1285,2022-23,Washington Wizards,Rui Hachimura,current roster,0,0,1,0,1,0,Team Option,6263188.0
1286,2023-24,Washington Wizards,Rui Hachimura,current roster,1,0,1,0,0,0,Qualifying Offer,8486620.0
1287,2020-21,Washington Wizards,Russell Westbrook,current roster,0,0,1,0,0,0,Guaranteed,41358814.0
1288,2021-22,Washington Wizards,Russell Westbrook,current roster,0,0,1,0,0,0,Guaranteed,44211146.0
1289,2022-23,Washington Wizards,Russell Westbrook,current roster,1,0,1,0,0,1,Player Option,47063478.0
1290,2020-21,Washington Wizards,Thomas Bryant,current roster,0,0,1,0,0,0,Guaranteed,8333333.0
1291,2021-22,Washington Wizards,Thomas Bryant,current roster,1,0,1,0,0,0,Guaranteed,8666667.0

In [7]:
#Player Cell #1

df_player = pd.read_sql_query("SELECT * FROM Player", df2)
print(df_player)

print('\n')

df_player_active = df_player[df_player['is_active'] == 1]
print(df_player_active)

           id            full_name first_name     last_name  is_active
0       76001       Alaa Abdelnaby       Alaa     Abdelnaby          0
1       76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz          0
2       76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar          0
3          51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf          0
4        1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad          0
...       ...                  ...        ...           ...        ...
4496  1627790           Ante Zizic       Ante         Zizic          1
4497    78647             Jim Zoet        Jim          Zoet          0
4498    78648            Bill Zopf       Bill          Zopf          0
4499  1627826          Ivica Zubac      Ivica         Zubac          1
4500    78650           Matt Zunic       Matt         Zunic          0

[4501 rows x 5 columns]


           id                 full_name first_name         last_name  \
21     203500              Steven Adams     Steven             Adams
23    1628389               Bam Adebayo        Bam           Adebayo
41     200746         LaMarcus Aldridge   LaMarcus          Aldridge
48    1629734            Kyle Alexander       Kyle         Alexander
50    1629638  Nickeil Alexander-Walker    Nickeil  Alexander-Walker
...       ...                       ...        ...               ...
4477   201152            Thaddeus Young   Thaddeus             Young
4479  1629027                Trae Young       Trae             Young
4482   203469               Cody Zeller       Cody            Zeller
4496  1627790                Ante Zizic       Ante             Zizic
4499  1627826               Ivica Zubac      Ivica             Zubac

      is_active
21            1
23            1
41            1
48            1
50            1
...         ...
4477          1
4479          1
4482          1
4496          1
4499          1

[519 rows x 5 columns]

In [8]:
#Player Cell #2

player = cur.execute('''SELECT * FROM Player''')
for column in player.description:
    print(column[0])

print('\n')

player_attr = cur.execute('''SELECT * FROM Player_Attributes''')
for column in player_attr.description:
    print(column[0])

id
full_name
first_name
last_name
is_active


ID
FIRST_NAME
LAST_NAME
DISPLAY_FIRST_LAST
DISPLAY_LAST_COMMA_FIRST
DISPLAY_FI_LAST
PLAYER_SLUG
BIRTHDATE
SCHOOL
COUNTRY
LAST_AFFILIATION
HEIGHT
WEIGHT
SEASON_EXP
JERSEY
POSITION
ROSTERSTATUS
GAMES_PLAYED_CURRENT_SEASON_FLAG
TEAM_ID
TEAM_NAME
TEAM_ABBREVIATION
TEAM_CODE
TEAM_CITY
PLAYERCODE
FROM_YEAR
TO_YEAR
DLEAGUE_FLAG
NBA_FLAG
GAMES_PLAYED_FLAG
DRAFT_YEAR
DRAFT_ROUND
DRAFT_NUMBER
PTS
AST
REB
ALL_STAR_APPEARANCES
PIE

In [9]:
#Player Cell #3

missing = pd.concat([df_player.isnull().sum(), 100 * df_player.isnull().mean()], axis=1)
missing.columns=['count','%']
%store df_player
missing.sort_values(by=['count','%'])

Stored 'df_player' (DataFrame)

            count    %
id              0  0.0
full_name       0  0.0
first_name      0  0.0
last_name       0  0.0
is_active       0  0.0

In [10]:
#Game Cell #1

data = cur.execute('''SELECT * FROM Game''')
for column in data.description:
    print(column[0])

GAME_ID
SEASON_ID
TEAM_ID_HOME
TEAM_ABBREVIATION_HOME
TEAM_NAME_HOME
GAME_DATE
MATCHUP_HOME
WL_HOME
MIN_HOME
FGM_HOME
FGA_HOME
FG_PCT_HOME
FG3M_HOME
FG3A_HOME
FG3_PCT_HOME
FTM_HOME
FTA_HOME
FT_PCT_HOME
OREB_HOME
DREB_HOME
REB_HOME
AST_HOME
STL_HOME
BLK_HOME
TOV_HOME
PF_HOME
PTS_HOME
PLUS_MINUS_HOME
VIDEO_AVAILABLE_HOME
TEAM_ID_AWAY
TEAM_ABBREVIATION_AWAY
TEAM_NAME_AWAY
MATCHUP_AWAY
WL_AWAY
MIN_AWAY
FGM_AWAY
FGA_AWAY
FG_PCT_AWAY
FG3M_AWAY
FG3A_AWAY
FG3_PCT_AWAY
FTM_AWAY
FTA_AWAY
FT_PCT_AWAY
OREB_AWAY
DREB_AWAY
REB_AWAY
AST_AWAY
STL_AWAY
BLK_AWAY
TOV_AWAY
PF_AWAY
PTS_AWAY
PLUS_MINUS_AWAY
VIDEO_AVAILABLE_AWAY
GAME_DATE_EST
GAME_SEQUENCE
GAME_STATUS_ID
GAME_STATUS_TEXT
GAMECODE
HOME_TEAM_ID
VISITOR_TEAM_ID
SEASON
LIVE_PERIOD
LIVE_PC_TIME
NATL_TV_BROADCASTER_ABBREVIATION
LIVE_PERIOD_TIME_BCAST
WH_STATUS
TEAM_CITY_HOME
PTS_PAINT_HOME
PTS_2ND_CHANCE_HOME
PTS_FB_HOME
LARGEST_LEAD_HOME
LEAD_CHANGES_HOME
TIMES_TIED_HOME
TEAM_TURNOVERS_HOME
TOTAL_TURNOVERS_HOME
TEAM_REBOUNDS_HOME
PTS_OFF_TO_HOME
TEAM_CITY_AWAY
PTS_PAINT_AWAY
PTS_2ND_CHANCE_AWAY
PTS_FB_AWAY
LARGEST_LEAD_AWAY
LEAD_CHANGES_AWAY
TIMES_TIED_AWAY
TEAM_TURNOVERS_AWAY
TOTAL_TURNOVERS_AWAY
TEAM_REBOUNDS_AWAY
PTS_OFF_TO_AWAY
LEAGUE_ID
GAME_DATE_DAY
ATTENDANCE
GAME_TIME
TEAM_CITY_NAME_HOME
TEAM_NICKNAME_HOME
TEAM_WINS_LOSSES_HOME
PTS_QTR1_HOME
PTS_QTR2_HOME
PTS_QTR3_HOME
PTS_QTR4_HOME
PTS_OT1_HOME
PTS_OT2_HOME
PTS_OT3_HOME
PTS_OT4_HOME
PTS_OT5_HOME
PTS_OT6_HOME
PTS_OT7_HOME
PTS_OT8_HOME
PTS_OT9_HOME
PTS_OT10_HOME
PTS_HOME_y
TEAM_CITY_NAME_AWAY
TEAM_NICKNAME_AWAY
TEAM_WINS_LOSSES_AWAY
PTS_QTR1_AWAY
PTS_QTR2_AWAY
PTS_QTR3_AWAY
PTS_QTR4_AWAY
PTS_OT1_AWAY
PTS_OT2_AWAY
PTS_OT3_AWAY
PTS_OT4_AWAY
PTS_OT5_AWAY
PTS_OT6_AWAY
PTS_OT7_AWAY
PTS_OT8_AWAY
PTS_OT9_AWAY
PTS_OT10_AWAY
LAST_GAME_ID
LAST_GAME_DATE_EST
LAST_GAME_HOME_TEAM_ID
LAST_GAME_HOME_TEAM_CITY
LAST_GAME_HOME_TEAM_NAME
LAST_GAME_HOME_TEAM_ABBREVIATION
LAST_GAME_HOME_TEAM_POINTS
LAST_GAME_VISITOR_TEAM_ID
LAST_GAME_VISITOR_TEAM_CITY
LAST_GAME_VISITOR_TEAM_NAME
LAST_GAME_VISITOR_TEAM_CITY1
LAST_GAME_VISITOR_TEAM_POINTS
HOME_TEAM_WINS
HOME_TEAM_LOSSES
SERIES_LEADER
VIDEO_AVAILABLE_FLAG
PT_AVAILABLE
PT_XYZ_AVAILABLE
HUSTLE_STATUS
HISTORICAL_STATUS

In [11]:
#Game Cell #2

df_game = pd.read_sql_query("SELECT * FROM Game", df2)

df_game = df_game[['GAME_ID', 'SEASON_ID', 'TEAM_ID_HOME', 'TEAM_ABBREVIATION_HOME', 'TEAM_NAME_HOME', 'GAME_DATE', 'MATCHUP_HOME',
                  'WL_HOME', 'PTS_HOME', 'PLUS_MINUS_HOME', 'TEAM_ID_AWAY', 'TEAM_ABBREVIATION_AWAY', 'TEAM_NAME_AWAY',
                  'WL_AWAY', 'PTS_AWAY', 'GAMECODE', 'TEAM_WINS_LOSSES_HOME', 'TEAM_WINS_LOSSES_AWAY']].copy()
print(df_game.head())

      GAME_ID SEASON_ID TEAM_ID_HOME TEAM_ABBREVIATION_HOME  \
0  0024600001     21946   1610610035                    HUS
1  0024600003     21946   1610610034                    BOM
2  0024600004     21946   1610610025                    CHS
3  0024600002     21946   1610610032                    PRO
4  0024600005     21946   1610610028                    DEF

            TEAM_NAME_HOME   GAME_DATE MATCHUP_HOME WL_HOME  PTS_HOME  \
0          Toronto Huskies  1946-11-01  HUS vs. NYK       L        66
1        St. Louis Bombers  1946-11-02  BOM vs. PIT       W        56
2            Chicago Stags  1946-11-02  CHS vs. NYK       W        63
3  Providence Steamrollers  1946-11-02  PRO vs. BOS       W        59
4          Detroit Falcons  1946-11-02  DEF vs. WAS       L        33

   PLUS_MINUS_HOME TEAM_ID_AWAY TEAM_ABBREVIATION_AWAY       TEAM_NAME_AWAY  \
0               -2   1610612752                    NYK      New York Knicks
1                5   1610610031                    PIT   Pittsburgh Ironmen
2               16   1610612752                    NYK      New York Knicks
3                6   1610612738                    BOS       Boston Celtics
4              -17   1610610036                    WAS  Washington Capitols

  WL_AWAY  PTS_AWAY         GAMECODE TEAM_WINS_LOSSES_HOME  \
0       W        68  19461101/NYKHUS                     -
1       L        51  19461102/PITBOM                     -
2       L        47  19461102/NYKCHS                     -
3       L        53  19461102/BOSPRO                     -
4       W        50  19461102/WASDEF                     -

  TEAM_WINS_LOSSES_AWAY
0                     -
1                     -
2                     -
3                     -
4                     -

In [12]:
#Game Cell #3

df_game['year'] = pd.DatetimeIndex(df_game['GAME_DATE']).year
#df_game['GAME_DATE'] = pd.to_datetime(df_game['GAME_DATE'], format='%Y-%m-%d')
df_game = df_game[df_game['year'] >=2014]
#print(df_game)

df_game['PTS_HOME'] = df_game['PTS_HOME'].astype(int)
df_game['PTS_AWAY'] = df_game['PTS_AWAY'].astype(int)
df_game = df_game.assign(Total =lambda x: x.PTS_HOME + x.PTS_AWAY)
df_total = df_game.sort_values(by=['Total','PTS_HOME','PTS_AWAY'])
%store df_total
df_total

Stored 'df_total' (DataFrame)

,GAME_ID,SEASON_ID,TEAM_ID_HOME,TEAM_ABBREVIATION_HOME,TEAM_NAME_HOME,GAME_DATE,MATCHUP_HOME,WL_HOME,PTS_HOME,PLUS_MINUS_HOME,TEAM_ID_AWAY,TEAM_ABBREVIATION_AWAY,TEAM_NAME_AWAY,WL_AWAY,PTS_AWAY,GAMECODE,TEAM_WINS_LOSSES_HOME,TEAM_WINS_LOSSES_AWAY,year,Total
62259,0022000906,22020,1610612754,IND,Indiana Pacers,2021-04-24,IND vs. DET,None,18,2,1610612765,DET,Detroit Pistons,None,16,20210424/DETIND,27-31,18-42,2021,34
62338,0022000982,22020,1610612747,LAL,Los Angeles Lakers,2021-05-03,LAL vs. DEN,None,48,-2,1610612743,DEN,Denver Nuggets,None,50,20210503/DENLAL,36-28,43-21,2021,98
62014,0022000676,22020,1610612762,UTA,Utah Jazz,2021-03-24,UTA vs. BKN,None,71,33,1610612751,BKN,Brooklyn Nets,None,38,20210324/BKNUTA,32-11,30-15,2021,109
62311,0022000956,22020,1610612747,LAL,Los Angeles Lakers,2021-04-30,LAL vs. SAC,None,56,1,1610612758,SAC,Sacramento Kings,None,55,20210430/SACLAL,36-26,25-37,2021,111
62409,0022001046,22020,1610612747,LAL,Los Angeles Lakers,2021-05-12,LAL vs. HOU,None,61,6,1610612745,HOU,Houston Rockets,None,55,20210512/HOULAL,39-30,16-53,2021,116
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62334,0022000976,22020,1610612764,WAS,Washington Wizards,2021-05-03,WAS vs. IND,W,154,13,1610612754,IND,Indiana Pacers,L,141,20210503/INDWAS,30-35,30-34,2021,295
59690,0021800619,22018,1610612759,SAS,San Antonio Spurs,2019-01-10,SAS vs. OKC,W,154,7,1610612760,OKC,Oklahoma City Thunder,L,147,20190110/OKCSAS,25-18,25-16,2019,301
61281,0021901238,22019,1610612742,DAL,Dallas Mavericks,2020-07-31,DAL vs. HOU,L,149,-4,1610612745,HOU,Houston Rockets,W,153,20200731/HOUDAL,40-28,41-24,2020,302
60366,0021900061,22019,1610612764,WAS,Washington Wizards,2019-10-30,WAS vs. HOU,L,158,-1,1610612745,HOU,Houston Rockets,W,159,20191030/HOUWAS,1-3,3-1,2019,317
60005,0021800928,22018,1610612737,ATL,Atlanta Hawks,2019-03-01,ATL vs. CHI,L,161,-7,1610612741,CHI,Chicago Bulls,W,168,20190301/CHIATL,21-42,18-45,2019,329

In [13]:
#Game Cell #4

missing = pd.concat([df_game.isnull().sum(), 100 * df_game.isnull().mean()], axis=1)
missing.columns=['count','%']
missing.sort_values(by=['count','%'])

                        count         %
GAME_ID                     0  0.000000
SEASON_ID                   0  0.000000
TEAM_ID_HOME                0  0.000000
TEAM_ABBREVIATION_HOME      0  0.000000
TEAM_NAME_HOME              0  0.000000
GAME_DATE                   0  0.000000
MATCHUP_HOME                0  0.000000
PTS_HOME                    0  0.000000
PLUS_MINUS_HOME             0  0.000000
TEAM_ID_AWAY                0  0.000000
TEAM_ABBREVIATION_AWAY      0  0.000000
TEAM_NAME_AWAY              0  0.000000
PTS_AWAY                    0  0.000000
GAMECODE                    0  0.000000
year                        0  0.000000
Total                       0  0.000000
WL_HOME                    40  0.439271
WL_AWAY                    40  0.439271
TEAM_WINS_LOSSES_HOME      53  0.582034
TEAM_WINS_LOSSES_AWAY      53  0.582034

In [14]:
missing_wl = df_game[['WL_HOME', 'WL_AWAY', 'TEAM_WINS_LOSSES_HOME', 'TEAM_WINS_LOSSES_AWAY']].isnull().sum(axis=1)
df_game = df_game[missing_wl == 0]
missing = pd.concat([df_game.isnull().sum(), 100 * df_game.isnull().mean()], axis=1)
missing.columns=['count','%']
missing.sort_values(by=['count','%'])

                        count    %
GAME_ID                     0  0.0
SEASON_ID                   0  0.0
TEAM_ID_HOME                0  0.0
TEAM_ABBREVIATION_HOME      0  0.0
TEAM_NAME_HOME              0  0.0
GAME_DATE                   0  0.0
MATCHUP_HOME                0  0.0
WL_HOME                     0  0.0
PTS_HOME                    0  0.0
PLUS_MINUS_HOME             0  0.0
TEAM_ID_AWAY                0  0.0
TEAM_ABBREVIATION_AWAY      0  0.0
TEAM_NAME_AWAY              0  0.0
WL_AWAY                     0  0.0
PTS_AWAY                    0  0.0
GAMECODE                    0  0.0
TEAM_WINS_LOSSES_HOME       0  0.0
TEAM_WINS_LOSSES_AWAY       0  0.0
year                        0  0.0
Total                       0  0.0

In [15]:
df_game[['home_wins', 'home_losses']] = df_game['TEAM_WINS_LOSSES_HOME'].str.split('-', expand=True).astype(int)
df_game[['away_wins', 'away_losses']] = df_game['TEAM_WINS_LOSSES_AWAY'].str.split('-', expand=True).astype(int)
df_game = df_game.assign(home_pct=lambda x: x.home_wins/(x.home_wins + x.home_losses))
df_game = df_game.assign(away_pct=lambda x: x.away_wins/(x.away_wins + x.away_losses))
df_game = df_game.assign(total_games_played=lambda x: x.home_wins + x.away_wins + x.home_losses + x.away_losses)

%store df_game
df_home_wins = df_game.sort_values(by=['home_pct', 'away_pct', 'home_wins', 'away_wins'])
%store df_home_wins
df_home_wins.tail(100)

Stored 'df_game' (DataFrame)
Stored 'df_home_wins' (DataFrame)

,GAME_ID,SEASON_ID,TEAM_ID_HOME,TEAM_ABBREVIATION_HOME,TEAM_NAME_HOME,GAME_DATE,MATCHUP_HOME,WL_HOME,PTS_HOME,PLUS_MINUS_HOME,...,TEAM_WINS_LOSSES_AWAY,year,Total,home_wins,home_losses,away_wins,away_losses,home_pct,away_pct,total_games_played
57854,0021700014,22017,1610612761,TOR,Toronto Raptors,2017-10-19,TOR vs. CHI,W,117,17,...,0-1,2017,217,1,0,0,1,1.0,0.000000,2
57855,0021700015,22017,1610612760,OKC,Oklahoma City Thunder,2017-10-19,OKC vs. NYK,W,105,21,...,0-1,2017,189,1,0,0,1,1.0,0.000000,2
59074,0021800002,22018,1610612744,GSW,Golden State Warriors,2018-10-16,GSW vs. OKC,W,108,8,...,0-1,2018,208,1,0,0,1,1.0,0.000000,2
59075,0021800001,22018,1610612738,BOS,Boston Celtics,2018-10-16,BOS vs. PHI,W,105,18,...,0-1,2018,192,1,0,0,1,1.0,0.000000,2
59076,0021800010,22018,1610612759,SAS,San Antonio Spurs,2018-10-17,SAS vs. MIN,W,112,4,...,0-1,2018,220,1,0,0,1,1.0,0.000000,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55556,0021500187,22015,1610612744,GSW,Golden State Warriors,2015-11-20,GSW vs. CHI,W,106,12,...,8-4,2015,200,14,0,8,4,1.0,0.666667,26
55478,0021500104,22015,1610612744,GSW,Golden State Warriors,2015-11-09,GSW vs. DET,W,109,14,...,5-2,2015,204,8,0,5,2,1.0,0.714286,15
60358,0021900057,22019,1610612755,PHI,Philadelphia 76ers,2019-10-30,PHI vs. MIN,W,117,22,...,3-1,2019,212,4,0,3,1,1.0,0.750000,8
55438,0021500069,22015,1610612744,GSW,Golden State Warriors,2015-11-04,GSW vs. LAC,W,112,4,...,4-1,2015,220,5,0,4,1,1.0,0.800000,10
59165,0021800092,22018,1610612749,MIL,Milwaukee Bucks,2018-10-29,MIL vs. TOR,W,124,15,...,6-1,2018,233,7,0,6,1,1.0,0.857143,14

In [16]:
df_game_40_plus = df_game[df_game['total_games_played'] >= 40]
df_game_40_plus = df_game_40_plus.sort_values(by=['home_pct', 'away_pct', 'home_wins', 'away_wins'])
%store df_game_40_plus
df_game_40_plus.tail(100)

Stored 'df_game_40_plus' (DataFrame)

,GAME_ID,SEASON_ID,TEAM_ID_HOME,TEAM_ABBREVIATION_HOME,TEAM_NAME_HOME,GAME_DATE,MATCHUP_HOME,WL_HOME,PTS_HOME,PLUS_MINUS_HOME,...,TEAM_WINS_LOSSES_AWAY,year,Total,home_wins,home_losses,away_wins,away_losses,home_pct,away_pct,total_games_played
54658,0021400518,22014,1610612744,GSW,Golden State Warriors,2015-01-05,GSW vs. OKC,W,117,26,...,17-18,2015,208,27,5,17,18,0.843750,0.485714,67
57474,0021600873,22016,1610612744,GSW,Golden State Warriors,2017-02-25,GSW vs. BKN,W,112,17,...,9-49,2017,207,49,9,9,49,0.844828,0.155172,116
56435,0021501063,22015,1610612759,SAS,San Antonio Spurs,2016-03-23,SAS vs. MIA,W,112,24,...,41-30,2016,200,60,11,41,30,0.845070,0.577465,142
57178,0021600578,22016,1610612744,GSW,Golden State Warriors,2017-01-10,GSW vs. MIA,W,107,12,...,11-29,2017,202,33,6,11,29,0.846154,0.275000,79
58194,0021700356,22017,1610612738,BOS,Boston Celtics,2017-12-06,BOS vs. DAL,W,97,7,...,7-18,2017,187,22,4,7,18,0.846154,0.280000,51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55749,0021500381,22015,1610612744,GSW,Golden State Warriors,2015-12-16,GSW vs. PHX,W,128,25,...,11-16,2015,231,25,1,11,16,0.961538,0.407407,53
55765,0021500397,22015,1610612744,GSW,Golden State Warriors,2015-12-18,GSW vs. MIL,W,121,9,...,10-18,2015,233,26,1,10,18,0.962963,0.357143,55
55801,0021500434,22015,1610612744,GSW,Golden State Warriors,2015-12-23,GSW vs. UTA,W,103,18,...,12-15,2015,188,27,1,12,15,0.964286,0.444444,55
55814,0021500438,22015,1610612744,GSW,Golden State Warriors,2015-12-25,GSW vs. CLE,W,89,6,...,19-8,2015,172,28,1,19,8,0.965517,0.703704,56
55836,0021500468,22015,1610612744,GSW,Golden State Warriors,2015-12-28,GSW vs. SAC,W,122,19,...,12-19,2015,225,29,1,12,19,0.966667,0.387097,61

In [17]:
#Player Attributes Overview

data_player_att = cur.execute('''SELECT * FROM Player_Attributes''')
for column in data_player_att.description:
    print(column[0])
    
df_player_att = pd.read_sql_query("SELECT * FROM Player_Attributes", df2)
print(df_player_att.head())

ID
FIRST_NAME
LAST_NAME
DISPLAY_FIRST_LAST
DISPLAY_LAST_COMMA_FIRST
DISPLAY_FI_LAST
PLAYER_SLUG
BIRTHDATE
SCHOOL
COUNTRY
LAST_AFFILIATION
HEIGHT
WEIGHT
SEASON_EXP
JERSEY
POSITION
ROSTERSTATUS
GAMES_PLAYED_CURRENT_SEASON_FLAG
TEAM_ID
TEAM_NAME
TEAM_ABBREVIATION
TEAM_CODE
TEAM_CITY
PLAYERCODE
FROM_YEAR
TO_YEAR
DLEAGUE_FLAG
NBA_FLAG
GAMES_PLAYED_FLAG
DRAFT_YEAR
DRAFT_ROUND
DRAFT_NUMBER
PTS
AST
REB
ALL_STAR_APPEARANCES
PIE
      ID FIRST_NAME     LAST_NAME   DISPLAY_FIRST_LAST  \
0  76001       Alaa     Abdelnaby       Alaa Abdelnaby
1  76002       Zaid    Abdul-Aziz      Zaid Abdul-Aziz
2  76003     Kareem  Abdul-Jabbar  Kareem Abdul-Jabbar
3     51    Mahmoud    Abdul-Rauf   Mahmoud Abdul-Rauf
4   1505      Tariq   Abdul-Wahad    Tariq Abdul-Wahad

  DISPLAY_LAST_COMMA_FIRST  DISPLAY_FI_LAST          PLAYER_SLUG  \
0          Abdelnaby, Alaa     A. Abdelnaby       alaa-abdelnaby
1         Abdul-Aziz, Zaid    Z. Abdul-Aziz      zaid-abdul-aziz
2     Abdul-Jabbar, Kareem  K. Abdul-Jabbar  kareem-abdul-jabbar
3      Abdul-Rauf, Mahmoud    M. Abdul-Rauf   mahmoud-abdul-rauf
4       Abdul-Wahad, Tariq   T. Abdul-Wahad    tariq-abdul-wahad

             BIRTHDATE           SCHOOL COUNTRY  ... NBA_FLAG  \
0  1968-06-24T00:00:00             Duke     USA  ...        Y
1  1946-04-07T00:00:00       Iowa State     USA  ...        Y
2  1947-04-16T00:00:00             UCLA     USA  ...        Y
3  1969-03-09T00:00:00  Louisiana State     USA  ...        Y
4  1974-11-03T00:00:00   San Jose State  France  ...        Y

   GAMES_PLAYED_FLAG  DRAFT_YEAR  DRAFT_ROUND DRAFT_NUMBER   PTS  AST   REB  \
0                  Y        1990            1           25   5.7  0.3   3.3
1                  Y        1968            1            5   9.0  1.2   8.0
2                  Y        1969            1            1  24.6  3.6  11.2
3                  Y        1990            1            3  14.6  3.5   1.9
4                  Y        1997            1           11   7.8  1.1   3.3

  ALL_STAR_APPEARANCES PIE
0                  0.0 NaN
1                  0.0 NaN
2                 18.0 NaN
3                  0.0 NaN
4                  0.0 NaN

[5 rows x 37 columns]

In [18]:
df_player_att2 = df_player_att.drop(['DISPLAY_LAST_COMMA_FIRST', 'DISPLAY_FI_LAST', 'PLAYER_SLUG', 'BIRTHDATE', 'SCHOOL',
                                    'COUNTRY', 'LAST_AFFILIATION', 'HEIGHT', 'WEIGHT', 'SEASON_EXP', 'JERSEY', 'POSITION',
                                    'DRAFT_YEAR', 'TEAM_CODE', 'DLEAGUE_FLAG', 'NBA_FLAG', 'DRAFT_ROUND', 
                                    'DRAFT_NUMBER', 'TEAM_CITY', 'PLAYERCODE', 'FROM_YEAR', 'PIE',
                                    'ALL_STAR_APPEARANCES'], axis=1)
%store df_player_att2
df_player_att2.head()

Stored 'df_player_att2' (DataFrame)

,ID,FIRST_NAME,LAST_NAME,DISPLAY_FIRST_LAST,ROSTERSTATUS,GAMES_PLAYED_CURRENT_SEASON_FLAG,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TO_YEAR,GAMES_PLAYED_FLAG,PTS,AST,REB
0,76001,Alaa,Abdelnaby,Alaa Abdelnaby,Inactive,N,1610612757,Trail Blazers,POR,1994,Y,5.7,0.3,3.3
1,76002,Zaid,Abdul-Aziz,Zaid Abdul-Aziz,Inactive,N,1610612745,Rockets,HOU,1977,Y,9.0,1.2,8.0
2,76003,Kareem,Abdul-Jabbar,Kareem Abdul-Jabbar,Inactive,N,1610612747,Lakers,LAL,1988,Y,24.6,3.6,11.2
3,51,Mahmoud,Abdul-Rauf,Mahmoud Abdul-Rauf,Inactive,N,1610612743,Nuggets,DEN,2000,Y,14.6,3.5,1.9
4,1505,Tariq,Abdul-Wahad,Tariq Abdul-Wahad,Inactive,N,1610612758,Kings,SAC,2003,Y,7.8,1.1,3.3

In [19]:
#new_df_player = df_player_att[['ID','FIRST_NAME','LAST_NAME','DISPLAY_FIRST_LAST','TEAM_ID', 'TEAM_ABBREVIATION','TO_YEAR','PTS','AST','REB']].copy()
#new_df_player.head()

new_df_player = df_player_att2[df_player_att2['TO_YEAR'].astype(int) >=2014]
new_df_player.head()

,ID,FIRST_NAME,LAST_NAME,DISPLAY_FIRST_LAST,ROSTERSTATUS,GAMES_PLAYED_CURRENT_SEASON_FLAG,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TO_YEAR,GAMES_PLAYED_FLAG,PTS,AST,REB
9,203518,Alex,Abrines,Alex Abrines,Inactive,N,0,,,2018,Y,5.3,0.5,1.4
14,203112,Quincy,Acy,Quincy Acy,Inactive,N,0,,,2018,Y,4.9,0.6,3.5
18,1629121,Jaylen,Adams,Jaylen Adams,Inactive,Y,0,,,2020,Y,0.3,0.3,0.4
19,203919,Jordan,Adams,Jordan Adams,Inactive,N,1610612763,Grizzlies,MEM,2015,Y,3.2,0.6,0.9
21,203500,Steven,Adams,Steven Adams,Active,Y,1610612740,Pelicans,NOP,2020,Y,8.1,2.0,9.2

In [20]:
#Player Attribute

missing = pd.concat([new_df_player.isnull().sum(), 100 * new_df_player.isnull().mean()], axis=1)
missing.columns=['count','%']
missing.sort_values(by=['count','%'])

                                  count         %
ID                                    0  0.000000
FIRST_NAME                            0  0.000000
LAST_NAME                             0  0.000000
DISPLAY_FIRST_LAST                    0  0.000000
ROSTERSTATUS                          0  0.000000
GAMES_PLAYED_CURRENT_SEASON_FLAG      0  0.000000
TEAM_ID                               0  0.000000
TEAM_NAME                             0  0.000000
TEAM_ABBREVIATION                     0  0.000000
TO_YEAR                               0  0.000000
GAMES_PLAYED_FLAG                     0  0.000000
PTS                                   3  0.290698
AST                                   3  0.290698
REB                                   3  0.290698

In [21]:
missing_player = new_df_player[['PTS', 'AST', 'REB']].isnull().sum(axis=1)
new_df_player = new_df_player[missing_player == 0]
missing = pd.concat([new_df_player.isnull().sum(), 100 * new_df_player.isnull().mean()], axis=1)
missing.columns=['count','%']

%store new_df_player

missing.sort_values(by=['count','%'])

Stored 'new_df_player' (DataFrame)

                                  count    %
ID                                    0  0.0
FIRST_NAME                            0  0.0
LAST_NAME                             0  0.0
DISPLAY_FIRST_LAST                    0  0.0
ROSTERSTATUS                          0  0.0
GAMES_PLAYED_CURRENT_SEASON_FLAG      0  0.0
TEAM_ID                               0  0.0
TEAM_NAME                             0  0.0
TEAM_ABBREVIATION                     0  0.0
TO_YEAR                               0  0.0
GAMES_PLAYED_FLAG                     0  0.0
PTS                                   0  0.0
AST                                   0  0.0
REB                                   0  0.0

In [22]:
#Team Data

data_team = cur.execute('''SELECT * FROM Team''')
for column in data_team.description:
    print(column[0])
    
df_team = pd.read_sql_query("SELECT * FROM Team", df2)
print(df_team.head())

%store df_team

id
full_name
abbreviation
nickname
city
state
year_founded
           id             full_name abbreviation   nickname         city  \
0  1610612737         Atlanta Hawks          ATL      Hawks      Atlanta
1  1610612738        Boston Celtics          BOS    Celtics       Boston
2  1610612739   Cleveland Cavaliers          CLE  Cavaliers    Cleveland
3  1610612740  New Orleans Pelicans          NOP   Pelicans  New Orleans
4  1610612741         Chicago Bulls          CHI      Bulls      Chicago

           state  year_founded
0        Atlanta          1949
1  Massachusetts          1946
2           Ohio          1970
3      Louisiana          2002
4       Illinois          1966
Stored 'df_team' (DataFrame)

In [23]:
#Game Officials Info

data_officials = cur.execute('''SELECT * FROM Game_Officials''')
for column in data_officials.description:
    print(column[0])
    
df_refs = pd.read_sql_query("SELECT * FROM Game_Officials", df2)
print(df_refs.tail())

%store df_refs

OFFICIAL_ID
FIRST_NAME
LAST_NAME
JERSEY_NUM
GAME_ID
      OFFICIAL_ID FIRST_NAME  LAST_NAME JERSEY_NUM     GAME_ID
65153        2002    Derrick    Collins       11    0022001072
65154     1628159      Mousa     Dagher       28    0022001072
65155      201246      Kevin     Cutler       34    0022001077
65156      202027        Tre     Maddox       23    0022001077
65157      203593     Justin  Van Duyne       64    0022001077
Stored 'df_refs' (DataFrame)

In [24]:
#Game Inactives Info

data_inactive = cur.execute('''SELECT * FROM Game_Inactive_Players''')
for column in data_inactive.description:
    print(column[0])
    
df_out = pd.read_sql_query("SELECT * FROM Game_Inactive_Players", df2)
print(df_out.tail())

%store df_out

PLAYER_ID
FIRST_NAME
LAST_NAME
JERSEY_NUM
TEAM_ID
TEAM_CITY
TEAM_NAME
TEAM_ABBREVIATION
GAME_ID
      PLAYER_ID FIRST_NAME   LAST_NAME JERSEY_NUM     TEAM_ID   TEAM_CITY  \
98674   1630169     Tyrese  Haliburton       0     1610612758  Sacramento
98675   1626158    Richaun      Holmes       22    1610612758  Sacramento
98676   1628368   De'Aaron         Fox       5     1610612758  Sacramento
98677    203084   Harrison      Barnes       40    1610612758  Sacramento
98678   1628963     Marvin  Bagley III       35    1610612758  Sacramento

      TEAM_NAME TEAM_ABBREVIATION     GAME_ID
98674     Kings               SAC  0022001077
98675     Kings               SAC  0022001077
98676     Kings               SAC  0022001077
98677     Kings               SAC  0022001077
98678     Kings               SAC  0022001077
Stored 'df_out' (DataFrame)

In [25]:
#Extra Info - Throw away

data_news = cur.execute('''SELECT * FROM News''')
for column in data_news.description:
    print(column[0])

print('\n')
data_news_missing = cur.execute('''SELECT * FROM News_Missing''')
for column in data_news_missing.description:
    print(column[0])

print('\n')
data_team_att = cur.execute('''SELECT * FROM Team_Attributes''')
for column in data_team_att.description:
    print(column[0])

title
author
published_date
published_date_precision
link
clean_url
summary
rights
rank
topic
country
language
authors
media
is_opinion
twitter_account
_score
_id
page_number
query
text
top_image
images
movies
html
article_html
querystring_q
querystring_lang
querystring_page_size
querystring_from
querystring_to
querystring_page
scrape_date


link
exception
extraction_date


ID
ABBREVIATION
NICKNAME
YEARFOUNDED
CITY
ARENA
ARENACAPACITY
OWNER
GENERALMANAGER
HEADCOACH
DLEAGUEAFFILIATION
FACEBOOK_WEBSITE_LINK
INSTAGRAM_WEBSITE_LINK
TWITTER_WEBSITE_LINK